// font-sizes
$text-sm: 12px;
$text-md: 14px;
$text-lg: 16px;
$text-xl: 18px;

// font weights
$normal: 400;
$bold: 600;

// colors
$color-white: #fff;
$color-dark: #677988;
$color-light: #e6ecef;
$color-black: #14171a;
$color-primary: #49b3f4;

// border-radius
$border-radius: 0.25rem;
